body{
    background-color:saddlebrown;
    overflow-x:hidden;
}

.navbar{
    background-color:rgba(0,0,0,0.06)!important;
    font-weight:700;
    font-size:1rem;
    letter-spacing:.1rem;
}

.navbar-nav{
    
}

.nav-item{
    padding-right:40px;
}

.home-background{
    background-image:url("../Images/coffeeshopdark.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.background-container{
    height:969px;
}

.tint{
    background-color:rgba(0,0,0,0.6)!important;
    height: 100%;
}

.home-caption{
    color:white;
    text-align:center;
    font-size:50px;
    text-shadow: 3px 4px 4px #000000;
}

.caption-button{
    text-align:center;
    padding:20px;
}

.btn-primary{
    background-color:#5e0f01;
}

.btn-primary:hover{
  background-color: black !important;
}

.btn a{
    text-decoration:none;
    color:white;
}

.home-caption-tagline{
    text-align:center;
    color:white;
    text-shadow: 3px 4px 4px #000000;
    font-size:30px;
}


/*-------------------------------*/
.row-container{
    margin-top:5rem;
}

.row{
    overflow-x:hidden;
    margin-bottom:50px;
}


.text-col p{
    color:white;
}

.label{
    font-size:40px;
}

.description{
    font-size:20px;
}

.col{
    padding:0;
}

.col img{
    width:100%;
}


footer{
    background-color:black;
    color:white;
    height:100px;
    text-align:center;
    padding:44px;
}