body{
    background-color:black;
    overflow-x:hidden;
    height:100%:
}

.navbar{
    background-color:rgba(0,0,0,0.01)!important;
    font-weight:700;
    font-size:1rem;
    letter-spacing:.1rem;
}

.nav-item{
    padding-right:40px;
}

.logo{
    width:85%;
}

.home-background{
    background-image:url("../Images/coffeeshopdark.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:100vh;
    top: 0;
    z-index:10;
}

.background-container{
    height:100vh;
}

.tint{
    background-color:rgba(0,0,0,0.6)!important;
    height: 100%;
}

.home-caption{
    color:white;
    text-align:center;
    font-size:60px;
    text-shadow: 3px 4px 4px #000000;
}

.caption-button{
    text-align:center;
    padding:20px;
}

.btn-primary{
    background-color:#5e0f01;
    padding:15px;
    border:none;
}

.btn-primary:hover{
  background-color: black !important;
}

.btn a{
    text-decoration:none;
    color:white;
}

.home-caption-tagline{
    text-align:center;
    color:white;
    text-shadow: 3px 4px 4px #000000;
    font-size:30px;
}


/*-------------------------------*/
.row-container{
    margin-top:5rem;
}

.row{
    overflow-x:hidden;
    margin-bottom:50px;
}


.text-col p{
    color:white;
}

.label{
    font-size:40px;
}

.description{
    font-size:20px;
}

.color p{
    color:white;
}

.col{
    padding:0;
    margin-left:50px;
    margin-right:50px;
}

.col img{
    width:100%;
}


footer{
    background-color:black;
    color:white;
    height:100px;
    text-align:center;
    padding:44px;
}

/*-----------------MENU------------------------*/
.menu-container{
    margin-top:100px;
}

.product-name{
    text-align:center;
    color:white
}

.col-sm img{
    width:260px;
}

.menu-header{
    color:white;
    text-align:center;
    padding:15px;
    font-size:45px;
}

hr{
    border-color:#858585;
    padding:5px;
}

@media only screen and (max-width: 700px) {
    
    .home-caption p{
        margin-right:65px;
    }
    
    .caption-button{
        margin-right:65px;
    }
}

@media only screen and (max-width: 580px) {
    .t{
        display:none;
    }
    
    .home-caption p{
        margin-right:65px;
        float:left;
    }
    
    .caption-button{
        margin-right:65px;
    }
}

@media only screen and (max-width: 500px) {
    .t{
        display:none;
    }
    
    .home-caption p{
        margin-right:65px;
        float:left;
    }
    
    .caption-button{
        margin-right:65px;
    }
    
}

